<table style="font-family:Arial, Helvetica, sans-serif; font-size: 13px;" width="100%" border="0" cellspacing="0"
    cellpadding="0">
    <tr>
        <td align="center"><br>
            <font color="#0000FF"> Please click on the button to refresh </font>
        </td>
    </tr>
    <tr>
        <td align="center"> <INPUT TYPE="BUTTON" VALUE="ADNTEL" _onClick="showHint(this.value)" class="instClick"> </td>
    </tr>
    <tr>
        <td align="center"><br><br>
            <div align="center">Instrument:
                <strong><a title="Click to go to company details page" href="displayCompany.php?name=ADNTEL"
                        class='ab1'>
                        <font face="Arial" size="2">ADNTEL</font>
                    </a></strong>
            </div>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="15%" valign="top">&nbsp;</td>
                    <td width="75%" valign="top">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="50%" valign="top">
                                    <table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#E8FFFB">
                                        <tr bgcolor="#339966">
                                            <td height="34%" colspan="2">
                                                <div align="center"><strong>
                                                        <font color="#FFFFFF">Buy</font>
                                                    </strong></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%" bgcolor="#D2F0E1">
                                                <div align="center">Buy Price </div>
                                            </td>
                                            <td height="34%" bgcolor="#D2F0E1">
                                                <div align="center">Buy Volume </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">39.20</div>
                                            </td>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">5700</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">40.10</div>
                                            </td>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">22000</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">39.00</div>
                                            </td>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">30300</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">38.90</div>
                                            </td>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">8300</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">38.80</div>
                                            </td>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">4000</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">38.70</div>
                                            </td>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">2000</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">38.60</div>
                                            </td>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">7000</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">38.50</div>
                                            </td>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">5500</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">38.30</div>
                                            </td>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">2000</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">38.20</div>
                                            </td>
                                            <td bgcolor="#CCCCCC">
                                                <div align="center">12130</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top" bgcolor="#FFFFFF">
                                    <table width="100%" border="0" cellspacing="1" cellpadding="1">
                                        <tr bgcolor="#339966">
                                            <td height="34%" colspan="2">
                                                <div align="center"><strong>
                                                        <font color="#FFFFFF">Sell</font>
                                                    </strong></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="51%" bgcolor="#D2F0E1">
                                                <div align="center">Sell Price </div>
                                            </td>
                                            <td width="49%" height="34%" bgcolor="#D2F0E1">
                                                <div align="center">Sell Volume </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">39.30</div>
                                            </td>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">12778</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">39.40</div>
                                            </td>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">9224</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">39.50</div>
                                            </td>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">15793</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">39.60</div>
                                            </td>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">18867</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">39.70</div>
                                            </td>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">21790</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">39.80</div>
                                            </td>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">41225</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">39.90</div>
                                            </td>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">17900</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">40.00</div>
                                            </td>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">29140</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">40.10</div>
                                            </td>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">6020</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">40.20</div>
                                            </td>
                                            <td bgcolor="#B2B2B2">
                                                <div align="center">5550</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="15%" valign="top">&nbsp;</td>
                </tr>
                <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                </tr>
                <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                </tr>
                <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">
                        <table width="100%" border="0" align="center" cellpadding="2" cellspacing="2" bgcolor="#FFF7EA">
                            <tr bgcolor="#339966">
                                <td colspan="4">
                                    <font color="#FFFFFF"><strong>Price Statistics </strong></font>
                                </td>
                            </tr>
                            <tr>
                                <td>Open Price </td>
                                <td>: 19.9</td>
                                <td>
                                    <div align="right">Day's High : </div>
                                </td>
                                <td>39.5</td>
                            </tr>
                            <tr>
                                <td width="27%">Last Trade Price</td>
                                <td width="14%">: 39.2</td>
                                <td width="40%">
                                    <div align="right">Day's Low : </div>
                                </td>
                                <td width="19%">39</td>
                            </tr>
                            <tr>
                                <td>Yesterday Close Price </td>
                                <td>: 38.8</td>
                                <td>
                                    <div align="right">No. of Trade : </div>
                                </td>
                                <td>190</td>
                            </tr>
                            <tr>
                                <td>Close Price </td>
                                <td>: 0 <div align="right"></div>
                                </td>
                                <td>
                                    <div align="right">Total Volume : </div>
                                </td>
                                <td>177736</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>
                                    <div align="right">Total Value (mn): </div>
                                </td>
                                <td>6.972</td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top">&nbsp;</td>
                </tr>
                <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                    <td valign="top">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- <script src="jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
<script type="text/javascript">
    $(function () {
        $(document).on("click", ".instClick", function () {
            let inst = $(this).val();
            console.log("From inner click: " + inst);
            $.post('bshis_new1_nf.php', { inst: inst }, function (ret) {
                if (ret != "") $("#showHint").html(ret);
            })
        });
    })
</script>